body {
    background: #0095FF;
}

.main {
    width: 100%;
}

.main img {
    opacity: 0.3;
    width: 35%;
}

.main .greeting h1 {
    color: #424242;
}

.main .greeting {
    width: 75%;
    text-align: center;
    border-radius: 3px;
    background: #FFF;
    padding: 20px;
    color: #2E2E2E;
    box-shadow: 0px 0px 5px #FFF;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0 auto;
}

.links {
    background: none repeat scroll 0 0 #0095FF;
    margin: 0 auto;
    padding: 20px;
    width: 25%;
    border-radius:5px;
}

.links li {
    display: inline-block;
    margin-left: 10px;
    color: #FFF;
    
    background: none repeat scroll 0 0 #0095FF;
    border-radius:5px;
}

.links li a {
    text-decoration: none;
    color: #FFF;
    font-size: 0.8em;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.links li a:hover {
    color: #CCC;
}